:root {
  --violet-light: #9e78cf;
  --violet: rgba(62, 22, 113, 1);
  --black: rgba(13, 7, 20, 1);
  --white: rgba(255, 255, 255, 1);
  --grey-light: rgba(119, 119, 119, 1);
}

body {
  padding: 160px 20px;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: var(--black);
  color: var(--white);
}
